dkpro-cassis
python-dateutil~=2.9.0.post0
pandas~=2.2.2
spacy~=3.8.4
scikit-learn~=1.6.1
sentence-transformers~=3.4.1
Levenshtein~=0.26.1
schwifty~=2025.1.0
joblib~=1.4.2
numpy~=2.2.2
gender-guesser~=0.4.0
plotly~=6.0.0
streamlit~=1.42.0
requests~=2.32.3
toml~=0.10.2
pycaprio~=0.3.0
